<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Budget</th>
      <th>Has job code</th>
      <th>Has cost code</th>
      <th>Has contract code</th>
      <th>Has project budget category</th>
      <th>Has lender budget category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.budget %></td>
        <td><%= project.has_job_code %></td>
        <td><%= project.has_cost_code %></td>
        <td><%= project.has_contract_code %></td>
        <td><%= project.has_project_budget_category %></td>
        <td><%= project.has_lender_budget_category %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
